In [1]:
# 问题来源：https://fishc.com.cn/thread-215596-1-1.html

In [2]:
import pandas as pd

In [3]:
log = ['2022-07-01 18:31:57\n', '20220701-KBW.S 开始\n', '2022-07-01 18:31:56\n', '2022-07-01 18:31:56\n', '2022-07-01 18:31:56\n', '2022-07-01 18:31:54\n', '2022-07-01 18:23:02\n', '2022-07-01 18:22:35\n', '2022-07-01 18:21:24\n', '2022-07-01 18:21:24\n', '2022-07-01 18:21:24\n', '2022-07-01 18:21:24\n', '2022-07-01 18:21:24\n', '2022-07-01 18:21:24\n', '2022-07-01 18:21:24\n', '2022-07-01 18:19:38\n', '2022-07-01 09:33:41\n', '2022-07-01 09:33:39\n', '2022-07-01 09:33:30\n', '2022-07-01 09:33:26\n', '2022-07-01 09:33:26\n', '2022-07-01 09:33:26\n', '2022-07-01 09:33:20\n', '2022-07-01 09:33:03\n', '2022-07-01 09:32:59\n', '2022-07-01 09:32:26\n', '2022-07-01 09:31:18\n', '2022-07-01 09:31:16\n', '2022-07-01 09:31:16\n', '2022-07-01 09:31:16\n', '2022-07-01 09:31:16\n', '2022-07-01 09:31:16\n', '2022-07-01 09:31:16\n', '2022-07-01 09:31:13\n', '2022-07-01 09:31:13\n', '2022-07-01 09:22:15\n', '2022-07-01 09:21:30\n', '2022-07-01 09:21:30\n', '2022-07-01 09:21:30\n', '2022-07-01 09:21:30\n', '2022-07-01 09:21:30\n', '2022-07-01 03:14:02\n', '2022-07-01 03:14:01\n', '2022-07-01 03:14:01\n', '20220628-kbw.S 完成\n', '2022-07-01 03:14:01\n', '2022-06-30 18:09:17\n', '20220628-kbw.S 开始\n', '2022-06-30 18:09:17\n', '2022-06-30 18:09:16\n', '2022-06-30 18:09:16\n', '2022-06-30 14:48:26\n', '2022-06-30 14:48:26\n', '2022-06-30 14:46:37\n', '2022-06-30 14:46:01\n', '2022-06-30 14:46:01\n', '2022-06-30 14:46:01\n', '2022-06-30 14:46:01\n', '2022-06-30 14:46:01\n', '2022-06-30 14:46:01\n', '2022-06-30 14:46:01\n', '2022-06-30 14:45:59\n', '2022-06-30 13:24:35\n', '2022-06-30 13:24:35\n', '2022-06-30 13:24:35\n', '2022-06-30 13:24:35\n', '2022-06-30 10:57:16\n', '2022-06-30 10:57:16\n', '2022-06-30 10:57:15\n', '2022-06-30 10:57:15\n', '2022-06-30 10:57:11\n', '2022-06-30 10:35:56\n', '2022-06-30 10:30:55\n', '2022-06-30 10:30:55\n', '2022-06-30 10:16:54\n', '2022-06-30 10:15:30\n', '2022-06-30 10:15:30\n', '2022-06-30 10:15:28\n', '2022-06-30 10:15:28\n', '2022-06-30 10:12:51\n', '2022-06-30 10:11:53\n', '2022-06-30 10:11:53\n', '2022-06-30 10:11:45\n', '2022-06-30 10:11:45\n', '2022-06-30 10:11:44\n', '2022-06-30 10:08:16\n', '2022-06-30 10:08:16\n', '2022-06-30 10:07:12\n', '2022-06-30 10:07:09\n', '2022-06-30 10:06:34\n', '2022-06-30 10:06:34\n', '2022-06-30 10:06:34\n', '20220628-kbw.S 完成\n',
       '2022-06-30 10:06:34\n', '20220628-kbw.S 开始\n', '2022-06-29 20:36:31\n', '2022-06-29 20:36:30\n', '2022-06-29 20:36:30\n', '2022-06-29 19:46:58\n', '2022-06-29 19:44:50\n', '2022-06-29 19:44:46\n', '2022-06-29 19:44:11\n', '2022-06-29 19:44:11\n', '2022-06-29 19:44:11\n', '2022-06-29 19:44:11\n', '2022-06-29 19:44:11\n', '2022-06-29 19:44:11\n', '2022-06-29 19:44:11\n', '2022-06-29 19:44:11\n', '2022-06-29 19:42:00\n', '2022-06-29 19:41:58\n', '2022-06-29 19:41:48\n', '2022-06-29 19:41:43\n', '2022-06-29 19:41:43\n', '2022-06-29 19:41:43\n', '2022-06-29 19:41:36\n', '2022-06-29 19:41:17\n', '2022-06-29 19:41:12\n', '2022-06-29 19:41:04\n', '2022-06-29 19:40:57\n', '2022-06-29 19:40:53\n', '2022-06-29 19:40:53\n', '2022-06-29 19:40:53\n', '2022-06-29 19:40:47\n', '2022-06-29 19:40:47\n', '2022-06-29 19:40:46\n', '2022-06-29 19:40:43\n', '2022-06-29 19:40:42\n', '2022-06-29 19:38:54\n', '2022-06-29 19:38:53\n', '2022-06-29 19:38:53\n', '20220628-kbw.S 暂停\n', '2022-06-28 22:00:28\n', '20220628-kbw.S 开始\n', '2022-06-28 22:00:28\n', '2022-06-28 22:00:27\n', '2022-06-28 22:00:27\n', '2022-06-28 21:51:38\n', '2022-06-28 21:51:31\n', '2022-06-28 21:51:15\n', '20220627.S\n', '2022-06-28 21:51:13\n', '2022-06-28 21:51:03\n', '2022-06-28 21:51:01\n', '2022-06-28 21:50:59\n', '2022-06-28 21:50:59\n', '2022-06-28 21:50:59\n', '2022-06-28 21:50:52\n', '2022-06-28 21:49:33\n', '2022-06-28 21:49:29\n', '2022-06-28 21:49:29\n', '2022-06-28 21:49:29\n', '2022-06-28 21:49:29\n', '2022-06-28 21:49:29\n', '2022-06-28 21:49:29\n', '2022-06-28 21:49:29\n', '2022-06-28 21:22:13\n', '20220627  \n', '2022-06-28 21:22:13\n', '20220627.S\n', '2022-06-28 21:22:12\n', '20220627.S 完成\n', '2022-06-28 21:22:12\n', '20220627.LOG\n', '2022-06-28 20:36:11\n', '20220627.S 开始\n', '2022-06-28 20:36:11\n', '20220627  \n', '2022-06-28 20:36:11\n', '20220627.S\n', '2022-06-28 20:36:11\n', '20220627  \n', '2022-06-28 20:35:26\n', '2022-06-28 20:33:52\n', '2022-06-28 20:15:44\n', '2022-06-28 20:15:44\n', '2022-06-28 20:15:44\n', '2022-06-28 20:15:44\n', '2022-06-28 20:15:44\n', '2022-06-28 20:15:44\n', '2022-06-28 20:15:44\n', '2022-06-28 20:06:03\n', '20220627  \n', '2022-06-28 20:06:03\n', '20220627.S\n', '2022-06-28 20:06:02\n', '20220627.LOG\n', '2022-06-28 20:06:02\n', '20220627.S 完成\n', '2022-06-28 10:35:30\n']
log

['2022-07-01 18:31:57\n',
 '20220701-KBW.S 开始\n',
 '2022-07-01 18:31:56\n',
 '2022-07-01 18:31:56\n',
 '2022-07-01 18:31:56\n',
 '2022-07-01 18:31:54\n',
 '2022-07-01 18:23:02\n',
 '2022-07-01 18:22:35\n',
 '2022-07-01 18:21:24\n',
 '2022-07-01 18:21:24\n',
 '2022-07-01 18:21:24\n',
 '2022-07-01 18:21:24\n',
 '2022-07-01 18:21:24\n',
 '2022-07-01 18:21:24\n',
 '2022-07-01 18:21:24\n',
 '2022-07-01 18:19:38\n',
 '2022-07-01 09:33:41\n',
 '2022-07-01 09:33:39\n',
 '2022-07-01 09:33:30\n',
 '2022-07-01 09:33:26\n',
 '2022-07-01 09:33:26\n',
 '2022-07-01 09:33:26\n',
 '2022-07-01 09:33:20\n',
 '2022-07-01 09:33:03\n',
 '2022-07-01 09:32:59\n',
 '2022-07-01 09:32:26\n',
 '2022-07-01 09:31:18\n',
 '2022-07-01 09:31:16\n',
 '2022-07-01 09:31:16\n',
 '2022-07-01 09:31:16\n',
 '2022-07-01 09:31:16\n',
 '2022-07-01 09:31:16\n',
 '2022-07-01 09:31:16\n',
 '2022-07-01 09:31:13\n',
 '2022-07-01 09:31:13\n',
 '2022-07-01 09:22:15\n',
 '2022-07-01 09:21:30\n',
 '2022-07-01 09:21:30\n',
 '2022-07-01 09:21:30\n',
 '2022-07-01 09:21:30\n',
 '2022-07-01 09:21:30\n',
 '2022-07-01 03:14:02\n',
 '2022-07-01 03:14:01\n',
 '2022-07-01 03:14:01\n',
 '20220628-kbw.S 完成\n',
 '2022-07-01 03:14:01\n',
 '2022-06-30 18:09:17\n',
 '20220628-kbw.S 开始\n',
 '2022-06-30 18:09:17\n',
 '2022-06-30 18:09:16\n',
 '2022-06-30 18:09:16\n',
 '2022-06-30 14:48:26\n',
 '2022-06-30 14:48:26\n',
 '2022-06-30 14:46:37\n',
 '2022-06-30 14:46:01\n',
 '2022-06-30 14:46:01\n',
 '2022-06-30 14:46:01\n',
 '2022-06-30 14:46:01\n',
 '2022-06-30 14:46:01\n',
 '2022-06-30 14:46:01\n',
 '2022-06-30 14:46:01\n',
 '2022-06-30 14:45:59\n',
 '2022-06-30 13:24:35\n',
 '2022-06-30 13:24:35\n',
 '2022-06-30 13:24:35\n',
 '2022-06-30 13:24:35\n',
 '2022-06-30 10:57:16\n',
 '2022-06-30 10:57:16\n',
 '2022-06-30 10:57:15\n',
 '2022-06-30 10:57:15\n',
 '2022-06-30 10:57:11\n',
 '2022-06-30 10:35:56\n',
 '2022-06-30 10:30:55\n',
 '2022-06-30 10:30:55\n',
 '2022-06-30 10:16:54\n',
 '2022-06-30 10:15:30\n',
 '2022-06-30 10:15:30\n',
 '2022-06-30 10:15:28\n',
 '2022-06-30 10:15:28\n',
 '2022-06-30 10:12:51\n',
 '2022-06-30 10:11:53\n',
 '2022-06-30 10:11:53\n',
 '2022-06-30 10:11:45\n',
 '2022-06-30 10:11:45\n',
 '2022-06-30 10:11:44\n',
 '2022-06-30 10:08:16\n',
 '2022-06-30 10:08:16\n',
 '2022-06-30 10:07:12\n',
 '2022-06-30 10:07:09\n',
 '2022-06-30 10:06:34\n',
 '2022-06-30 10:06:34\n',
 '2022-06-30 10:06:34\n',
 '20220628-kbw.S 完成\n',
 '2022-06-30 10:06:34\n',
 '20220628-kbw.S 开始\n',
 '2022-06-29 20:36:31\n',
 '2022-06-29 20:36:30\n',
 '2022-06-29 20:36:30\n',
 '2022-06-29 19:46:58\n',
 '2022-06-29 19:44:50\n',
 '2022-06-29 19:44:46\n',
 '2022-06-29 19:44:11\n',
 '2022-06-29 19:44:11\n',
 '2022-06-29 19:44:11\n',
 '2022-06-29 19:44:11\n',
 '2022-06-29 19:44:11\n',
 '2022-06-29 19:44:11\n',
 '2022-06-29 19:44:11\n',
 '2022-06-29 19:44:11\n',
 '2022-06-29 19:42:00\n',
 '2022-06-29 19:41:58\n',
 '2022-06-29 19:41:48\n',
 '2022-06-29 19:41:43\n',
 '2022-06-29 19:41:43\n',
 '2022-06-29 19:41:43\n',
 '2022-06-29 19:41:36\n',
 '2022-06-29 19:41:17\n',
 '2022-06-29 19:41:12\n',
 '2022-06-29 19:41:04\n',
 '2022-06-29 19:40:57\n',
 '2022-06-29 19:40:53\n',
 '2022-06-29 19:40:53\n',
 '2022-06-29 19:40:53\n',
 '2022-06-29 19:40:47\n',
 '2022-06-29 19:40:47\n',
 '2022-06-29 19:40:46\n',
 '2022-06-29 19:40:43\n',
 '2022-06-29 19:40:42\n',
 '2022-06-29 19:38:54\n',
 '2022-06-29 19:38:53\n',
 '2022-06-29 19:38:53\n',
 '20220628-kbw.S 暂停\n',
 '2022-06-28 22:00:28\n',
 '20220628-kbw.S 开始\n',
 '2022-06-28 22:00:28\n',
 '2022-06-28 22:00:27\n',
 '2022-06-28 22:00:27\n',
 '2022-06-28 21:51:38\n',
 '2022-06-28 21:51:31\n',
 '2022-06-28 21:51:15\n',
 '20220627.S\n',
 '2022-06-28 21:51:13\n',
 '2022-06-28 21:51:03\n',
 '2022-06-28 21:51:01\n',
 '2022-06-28 21:50:59\n',
 '2022-06-28 21:50:59\n',
 '2022-06-28 21:50:59\n',
 '2022-06-28 21:50:52\n',
 '2022-06-28 21:49:33\n',
 '2022-06-28 21:49:29\n',
 '2022-06-28 21:49:29\n',
 '2022-06-28 21:49:29\n',
 '2022-06-28 21:49:29\n',
 '2022-06-28 21:49:29\n',
 '2022-06-28 21:49:29\n',
 '2022-06-28 21:49:29\n',
 '2022-06-28 21:22:13\n',
 '20220627  \n',
 '2022-06-28 21:22:13\n',
 '20220627.S\n',
 '2022-06-28 21:22:12\n',
 '20220627.S 完成\n',
 '2022-06-28 21:22:12\n',
 '20220627.LOG\n',
 '2022-06-28 20:36:11\n',
 '20220627.S 开始\n',
 '2022-06-28 20:36:11\n',
 '20220627  \n',
 '2022-06-28 20:36:11\n',
 '20220627.S\n',
 '2022-06-28 20:36:11\n',
 '20220627  \n',
 '2022-06-28 20:35:26\n',
 '2022-06-28 20:33:52\n',
 '2022-06-28 20:15:44\n',
 '2022-06-28 20:15:44\n',
 '2022-06-28 20:15:44\n',
 '2022-06-28 20:15:44\n',
 '2022-06-28 20:15:44\n',
 '2022-06-28 20:15:44\n',
 '2022-06-28 20:15:44\n',
 '2022-06-28 20:06:03\n',
 '20220627  \n',
 '2022-06-28 20:06:03\n',
 '20220627.S\n',
 '2022-06-28 20:06:02\n',
 '20220627.LOG\n',
 '2022-06-28 20:06:02\n',
 '20220627.S 完成\n',
 '2022-06-28 10:35:30\n']

In [4]:
the_time = [t for t in log if '开始' in t or '暂停' in t or '完成' in t ]
the_time

['20220701-KBW.S 开始\n',
 '20220628-kbw.S 完成\n',
 '20220628-kbw.S 开始\n',
 '20220628-kbw.S 完成\n',
 '20220628-kbw.S 开始\n',
 '20220628-kbw.S 暂停\n',
 '20220628-kbw.S 开始\n',
 '20220627.S 完成\n',
 '20220627.S 开始\n',
 '20220627.S 完成\n']

In [5]:
s = ''.join(log)
s

'2022-07-01 18:31:57\n20220701-KBW.S 开始\n2022-07-01 18:31:56\n2022-07-01 18:31:56\n2022-07-01 18:31:56\n2022-07-01 18:31:54\n2022-07-01 18:23:02\n2022-07-01 18:22:35\n2022-07-01 18:21:24\n2022-07-01 18:21:24\n2022-07-01 18:21:24\n2022-07-01 18:21:24\n2022-07-01 18:21:24\n2022-07-01 18:21:24\n2022-07-01 18:21:24\n2022-07-01 18:19:38\n2022-07-01 09:33:41\n2022-07-01 09:33:39\n2022-07-01 09:33:30\n2022-07-01 09:33:26\n2022-07-01 09:33:26\n2022-07-01 09:33:26\n2022-07-01 09:33:20\n2022-07-01 09:33:03\n2022-07-01 09:32:59\n2022-07-01 09:32:26\n2022-07-01 09:31:18\n2022-07-01 09:31:16\n2022-07-01 09:31:16\n2022-07-01 09:31:16\n2022-07-01 09:31:16\n2022-07-01 09:31:16\n2022-07-01 09:31:16\n2022-07-01 09:31:13\n2022-07-01 09:31:13\n2022-07-01 09:22:15\n2022-07-01 09:21:30\n2022-07-01 09:21:30\n2022-07-01 09:21:30\n2022-07-01 09:21:30\n2022-07-01 09:21:30\n2022-07-01 03:14:02\n2022-07-01 03:14:01\n2022-07-01 03:14:01\n20220628-kbw.S 完成\n2022-07-01 03:14:01\n2022-06-30 18:09:17\n20220628-kbw.S 开始\n2022-06-30 18:09:17\n2022-06-30 18:09:16\n2022-06-30 18:09:16\n2022-06-30 14:48:26\n2022-06-30 14:48:26\n2022-06-30 14:46:37\n2022-06-30 14:46:01\n2022-06-30 14:46:01\n2022-06-30 14:46:01\n2022-06-30 14:46:01\n2022-06-30 14:46:01\n2022-06-30 14:46:01\n2022-06-30 14:46:01\n2022-06-30 14:45:59\n2022-06-30 13:24:35\n2022-06-30 13:24:35\n2022-06-30 13:24:35\n2022-06-30 13:24:35\n2022-06-30 10:57:16\n2022-06-30 10:57:16\n2022-06-30 10:57:15\n2022-06-30 10:57:15\n2022-06-30 10:57:11\n2022-06-30 10:35:56\n2022-06-30 10:30:55\n2022-06-30 10:30:55\n2022-06-30 10:16:54\n2022-06-30 10:15:30\n2022-06-30 10:15:30\n2022-06-30 10:15:28\n2022-06-30 10:15:28\n2022-06-30 10:12:51\n2022-06-30 10:11:53\n2022-06-30 10:11:53\n2022-06-30 10:11:45\n2022-06-30 10:11:45\n2022-06-30 10:11:44\n2022-06-30 10:08:16\n2022-06-30 10:08:16\n2022-06-30 10:07:12\n2022-06-30 10:07:09\n2022-06-30 10:06:34\n2022-06-30 10:06:34\n2022-06-30 10:06:34\n20220628-kbw.S 完成\n2022-06-30 10:06:34\n20220628-kbw.S 开始\n2022-06-29 20:36:31\n2022-06-29 20:36:30\n2022-06-29 20:36:30\n2022-06-29 19:46:58\n2022-06-29 19:44:50\n2022-06-29 19:44:46\n2022-06-29 19:44:11\n2022-06-29 19:44:11\n2022-06-29 19:44:11\n2022-06-29 19:44:11\n2022-06-29 19:44:11\n2022-06-29 19:44:11\n2022-06-29 19:44:11\n2022-06-29 19:44:11\n2022-06-29 19:42:00\n2022-06-29 19:41:58\n2022-06-29 19:41:48\n2022-06-29 19:41:43\n2022-06-29 19:41:43\n2022-06-29 19:41:43\n2022-06-29 19:41:36\n2022-06-29 19:41:17\n2022-06-29 19:41:12\n2022-06-29 19:41:04\n2022-06-29 19:40:57\n2022-06-29 19:40:53\n2022-06-29 19:40:53\n2022-06-29 19:40:53\n2022-06-29 19:40:47\n2022-06-29 19:40:47\n2022-06-29 19:40:46\n2022-06-29 19:40:43\n2022-06-29 19:40:42\n2022-06-29 19:38:54\n2022-06-29 19:38:53\n2022-06-29 19:38:53\n20220628-kbw.S 暂停\n2022-06-28 22:00:28\n20220628-kbw.S 开始\n2022-06-28 22:00:28\n2022-06-28 22:00:27\n2022-06-28 22:00:27\n2022-06-28 21:51:38\n2022-06-28 21:51:31\n2022-06-28 21:51:15\n20220627.S\n2022-06-28 21:51:13\n2022-06-28 21:51:03\n2022-06-28 21:51:01\n2022-06-28 21:50:59\n2022-06-28 21:50:59\n2022-06-28 21:50:59\n2022-06-28 21:50:52\n2022-06-28 21:49:33\n2022-06-28 21:49:29\n2022-06-28 21:49:29\n2022-06-28 21:49:29\n2022-06-28 21:49:29\n2022-06-28 21:49:29\n2022-06-28 21:49:29\n2022-06-28 21:49:29\n2022-06-28 21:22:13\n20220627  \n2022-06-28 21:22:13\n20220627.S\n2022-06-28 21:22:12\n20220627.S 完成\n2022-06-28 21:22:12\n20220627.LOG\n2022-06-28 20:36:11\n20220627.S 开始\n2022-06-28 20:36:11\n20220627  \n2022-06-28 20:36:11\n20220627.S\n2022-06-28 20:36:11\n20220627  \n2022-06-28 20:35:26\n2022-06-28 20:33:52\n2022-06-28 20:15:44\n2022-06-28 20:15:44\n2022-06-28 20:15:44\n2022-06-28 20:15:44\n2022-06-28 20:15:44\n2022-06-28 20:15:44\n2022-06-28 20:15:44\n2022-06-28 20:06:03\n20220627  \n2022-06-28 20:06:03\n20220627.S\n2022-06-28 20:06:02\n20220627.LOG\n2022-06-28 20:06:02\n20220627.S 完成\n2022-06-28 10:35:30\n'

In [6]:
import re
re.findall('(\d+-\d+-\d+ \d+:\d+:\d+)\n\d+-[KBWkbw]+.S (\w+)\n', s)

[('2022-07-01 18:31:57', '开始'),
 ('2022-07-01 03:14:01', '完成'),
 ('2022-06-30 18:09:17', '开始'),
 ('2022-06-30 10:06:34', '完成'),
 ('2022-06-30 10:06:34', '开始'),
 ('2022-06-29 19:38:53', '暂停'),
 ('2022-06-28 22:00:28', '开始')]

In [7]:
import re
the_time = re.findall('(\d+-\d+-\d+ \d+:\d+:\d+)\n\d+-[KBWkbw]+.S (\w+)\n', ''.join(log))
the_time

[('2022-07-01 18:31:57', '开始'),
 ('2022-07-01 03:14:01', '完成'),
 ('2022-06-30 18:09:17', '开始'),
 ('2022-06-30 10:06:34', '完成'),
 ('2022-06-30 10:06:34', '开始'),
 ('2022-06-29 19:38:53', '暂停'),
 ('2022-06-28 22:00:28', '开始')]

In [8]:
df = pd.DataFrame(the_time, columns=['time', 'flag'])
display(df)
df.dtypes

                  time flag
0  2022-07-01 18:31:57   开始
1  2022-07-01 03:14:01   完成
2  2022-06-30 18:09:17   开始
3  2022-06-30 10:06:34   完成
4  2022-06-30 10:06:34   开始
5  2022-06-29 19:38:53   暂停
6  2022-06-28 22:00:28   开始

time    object
flag    object
dtype: object

In [9]:
df = pd.DataFrame(the_time, columns=['time', 'flag'])
display(df.time.dtypes )

# 方法一：用 astype('time': 'datetime64')
# df.astype({'time': 'datetime'})   # 无法识别
# df = df.astype({'time': 'datetime64[ns]'})
df = df.astype({'time': 'datetime64'})
df.dtypes

dtype('O')

time    datetime64[ns]
flag            object
dtype: object

In [10]:
df = pd.DataFrame(the_time, columns=['time', 'flag'])
display(df.time.dtypes )   

# 方法二： pd.to_datetime(str_date, format)
df.time = pd.to_datetime(df.time, )
df.dtypes

dtype('O')

time    datetime64[ns]
flag            object
dtype: object

In [11]:
df = pd.DataFrame(the_time, columns=['time', 'flag'])
display(df.time.dtypes )

# 方法三： df['time']=df['time'].apply(lambda _: datetime.strptime(str(_), format))
from datetime import datetime 
df.time = df.time.apply(lambda _:datetime.strptime(str(_), '%Y-%m-%d %H:%M:%S'))
df.dtypes

dtype('O')

time    datetime64[ns]
flag            object
dtype: object

In [12]:
display(df.time.dtypes)  # 注： <M8[ns]属于一种datetime64[ns]

df.time - pd.Timedelta(days = 1)

dtype('<M8[ns]')

0   2022-06-30 18:31:57
1   2022-06-30 03:14:01
2   2022-06-29 18:09:17
3   2022-06-29 10:06:34
4   2022-06-29 10:06:34
5   2022-06-28 19:38:53
6   2022-06-27 22:00:28
Name: time, dtype: datetime64[ns]

In [13]:
df0 = df.sort_values('time').reset_index(drop=True)
df0

                 time flag
0 2022-06-28 22:00:28   开始
1 2022-06-29 19:38:53   暂停
2 2022-06-30 10:06:34   完成
3 2022-06-30 10:06:34   开始
4 2022-06-30 18:09:17   开始
5 2022-07-01 03:14:01   完成
6 2022-07-01 18:31:57   开始

In [14]:
df1 = df.sort_values('time').reset_index(drop=True).shift()
df1

                 time flag
0                 NaT  NaN
1 2022-06-28 22:00:28   开始
2 2022-06-29 19:38:53   暂停
3 2022-06-30 10:06:34   完成
4 2022-06-30 10:06:34   开始
5 2022-06-30 18:09:17   开始
6 2022-07-01 03:14:01   完成

In [15]:
res = pd.concat([df0, df1], axis=1)
res.columns = ['t1', 'f1', 't2', 'f2']
res

                   t1  f1                  t2   f2
0 2022-06-28 22:00:28  开始                 NaT  NaN
1 2022-06-29 19:38:53  暂停 2022-06-28 22:00:28   开始
2 2022-06-30 10:06:34  完成 2022-06-29 19:38:53   暂停
3 2022-06-30 10:06:34  开始 2022-06-30 10:06:34   完成
4 2022-06-30 18:09:17  开始 2022-06-30 10:06:34   开始
5 2022-07-01 03:14:01  完成 2022-06-30 18:09:17   开始
6 2022-07-01 18:31:57  开始 2022-07-01 03:14:01   完成

In [16]:
# 分两种情况，过滤出需要的时间记录

result = res[ ((res.f1 == '暂停') & (res.f2 == '开始')) |
              ((res.f1 == '完成') & (res.f2 == '开始')) ].loc[:]  
              # 加上.loc[:] 是为了避免后面的SettingWithCopy警告，类似动态修改列表需要切片一样
              # https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
result

                   t1  f1                  t2  f2
1 2022-06-29 19:38:53  暂停 2022-06-28 22:00:28  开始
5 2022-07-01 03:14:01  完成 2022-06-30 18:09:17  开始

In [17]:
# 计算时间差
result['used_time'] = result.t1 - result.t2 
display(result)

                   t1  f1                  t2  f2       used_time
1 2022-06-29 19:38:53  暂停 2022-06-28 22:00:28  开始 0 days 21:38:25
5 2022-07-01 03:14:01  完成 2022-06-30 18:09:17  开始 0 days 09:04:44

In [18]:
# 统计时间（设备使用的总时间）
result.agg({'used_time': sum}, )

used_time   1 days 06:43:09
dtype: timedelta64[ns]

In [21]:

type(result.agg({'used_time': sum}, ))

pandas.core.series.Series

In [23]:
print(result.agg)

<bound method DataFrame.aggregate of                    t1  f1                  t2  f2       used_time
1 2022-06-29 19:38:53  暂停 2022-06-28 22:00:28  开始 0 days 21:38:25
5 2022-07-01 03:14:01  完成 2022-06-30 18:09:17  开始 0 days 09:04:44>

In [19]:

# result[['t1','t2', 'used_time']].pivot_table(index=['t1', 't2'], aggfunc='sum', margins=True, margins_name='合计')
# result.pivot_table(index=['f1','t1', 'f2','t2'], aggfunc='sum', margins=True, margins_name='合计')

result.pivot_table(index=['t1','t2'], aggfunc='sum', margins=True, margins_name='合计')

C:\Users\Administrator\AppData\Local\Temp\ipykernel_11100\4273375783.py:4: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  result.pivot_table(index=['t1','t2'], aggfunc='sum', margins=True, margins_name='合计')

                                           f1    f2       used_time
t1                  t2
2022-06-29 19:38:53 2022-06-28 22:00:28    暂停    开始 0 days 21:38:25
2022-07-01 03:14:01 2022-06-30 18:09:17    完成    开始 0 days 09:04:44
合计                  NaT                  暂停完成  开始开始 1 days 06:43:09

In [20]:
# 
# 追加行      （综合案例见：如何添加"汇总行"？ ）
# df.append(dict(zip(df.columns, list_data)), ignore_index=True)  
# df.loc[len(df)] = list_data  
# pd.concat([df1, dict-like_df2], axis=0)
# df.pivot_table(..., margins=True, ...) 

# 添加"汇总行"，如 
df = pd.DataFrame({'名称': ['a','a','b','c'], '金额':[100, 100, 120, 150]})
df.pivot_table(index='名称', aggfunc='sum', margins=True, margins_name='合计：').sort_values('金额').reset_index()

    名称   金额
0    b  120
1    c  150
2    a  200
3  合计：  470